body{
    font-family: arial;
    font-weight: 600;
}
p{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 15px auto;
    padding: 0 15px;
}

header .container h2{
    color: #AAA;
    padding: 20px;
    border-bottom: 1px solid #999;
    font-size: 30px;
    font-weight: bold;
}

.unit{
    background-color: #EEE;
    border: none;
    text-align: center;
    padding: 30px;
}
.alert{

    padding: 5px;
    margin: 10px auto;
    width: 80%;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    background-color: #ffb2b2;
    color: #6d0000;
    border: 1px solid #6d0000;
    
}
 input{
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 5px;
    width: 80%;
    margin: 10px auto;
    font-size: 15px !important;
    max-height: 2em;
}
.unit input:hover{
    box-shadow: 0px 0px 12px -7px #888;
}
.btn{
    padding: 10px 15px;
    font-size: 15px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    max-width: fit-content;
    
}
.btn-primary {
    background-color: #1167c4;
    color: white;
    border: 1px solid #1167c4;
}
.btn-danger {
    background-color: #910004;
    color: white;
    border: 1px solid #910004;
}
.btn-primary:hover {
    background-color: #0a3f77;
    border: 1px solid #0a3f77;
}
.btn-danger:hover {
    background-color: #510d0e;
    border: 1px solid #510d0e;
}
.btn:hover {
    box-shadow: 2px 5px 3px 0px #888;
}

.website{
    background-image: linear-gradient(#EEE,#FFF);
    margin: 10px 0;
    padding: 20px;
}
.website h2{
    width: 30%;
    color: #333;
}
footer{
    padding: 10px;
}
footer p{
    color: #AAA;
    font-weight: bold;
}
#bookMarkList{
    border-bottom: 1px solid #999;
    padding: 15px 0px;

}